body {
	background-image:url("images/bg01.png");
	background-repeat:repeat-x;
}

table.schedule {
	border-collapse:collapse;
	font-family: arial;
	font-size: 0.75em;
}

td.ws {
	border: 1px solid black;
	width: 160px;
	height: 24px;
	padding:2px;
}

div#pagediv {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 64px;
}

div#quicklist {
	background-color: #bfd0bf;
	border: 1px solid black;
	height: 256px;
	font-family: arial;
	font-size: 0.75em;
	padding: 2px;
}