html {overflow-y:scroll;} /*Permanent scrollbar ya' know.*/

body {
	background-image:url("images/bg01.png");
	background-repeat:repeat-x;
	font-family:arial; 
}

span.title {
	font-size:1.5em;
}

span.text-attn {
	color:#00ff00;
}

td.advcell { /*Advisor table cell*/
	background-color:#efefef;
	border:1px solid black;
	width:240px;
	height:24px;
	padding:2px;
	text-align:center;
}

div#pagediv { /*Centered container that all page materials squeeze into.*/
	width:960px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

div.shadow-container { /*Couldn't get a shadow on schedule table itself. So we use a container.*/
	box-shadow:0px 0px 24px #4f4f4f;
}

#googleMap
{
	width:960px;
	height:640px;
	box-shadow:0px 0px 24px #4f4f4f;
}

table#quicklist { /*The essential quick list.*/
	font-size:0.75em;
	padding:8px;
	width:480px;
	height:272px;
	color:#ffffff;
	background-color:#52ae63;
	background-image:url("images/bg02.png");
	background-size:100% 100%;
	border:1px solid black;
	box-shadow:0px 0px 24px #4f4f4f;
}

/*----------------------------------------
WEEKLY SCHEDULE
----------------------------------------*/

table.schedule {
	border-collapse:collapse;
	font-size:0.75em;
}

/*----------------------------------------
  Abbreviations:
  td.ews  +Empty weekly schedule cell.
  td.aews +Alternate weekly schedule cell.
  td.fws  +Full weekly schedule cell.
  td.tws  +Time weekly schedule cell.
  td.thr  +Table header. <th> is too lame.
----------------------------------------*/

td.ews, td.aews, td.fws, td.tws, td.thr {
	border:1px solid black;
	width:160px;
	height:24px;
	padding:2px;
	text-align:center;
}

td.aews {
	background-color:#efefef;
}

td.fws {
	background-color:#52ae63;
	background-image:url("images/bg02.png");
	background-size:100% 100%;
	color:#ffffff;
}

td.tws {
	background-color:#ffff7f;
}

td.thr {
	background-color:#001f0f;
	color:#afafaf;
}


/*----------------------------------------
MENU STRIP
This is super touchy. Best leave it alone.
----------------------------------------*/

.clearfix:after {display:block; clear:both;}
.menu-wrap {width:100%; background:#001f0f;}
.menu {width:960px; margin:0px auto;}
.menu li {margin:0px; list-style:none; font-family:arial;}
.menu li:hover > a, .menu > a {text-decoration:none; color:#ffffff;}
.menu a {color:#9f9f9f;}
.menu .arrow {font-size:0.75em; line-height:0%;}
.menu > ul > li {float:left; display:inline-block; position:relative; font-size:1em;}
.menu > ul > li > a {padding:8px; width:192px; display:inline-block; text-align:center;}
.menu > ul > li:hover > a, .menu > ul {background:#001f0f;}
.menu li:hover .sub-menu {z-index:1; opacity:1;}
.sub-menu {width:100%; padding:0px; position:absolute; top:100%; left:0px; z-index:-1; opacity:0; background:#001f0f;}
.sub-menu li {display:block; font-size:1em;}
.sub-menu li a {padding:8px; display:block;}
.sub-menu li a:hover {background:#52ae63; color:#001f0f; padding:7px; border:1px solid #001f0f;}

/*---------------------------------------
TRANSCRIPT
---------------------------------------*/

table#transcriptA {
	border-collapse:collapse;
	font-size:0.90em;
}

table#transcriptA td {
	padding-left:5px;
	padding-right:5px;
}

table#transcriptA td:nth-child(1) {
	width:85px;
	text-align:left;
}

table#transcriptA td:nth-child(2) {
	width:280px;
	text-align:left;
}

table#transcriptA td + td + td {
	width:70px;
	text-align:right;
}

table#transcriptA td:nth-child(5) {
	text-align:center;
}

table#transcriptB {
	border-collapse:collapse;
	font-size:0.90em;
}

table#transcriptB td {
	padding-left:5px;
	padding-right:5px;
}

table#transcriptB td:nth-child(1) {
	width:85px;
	text-align:left;
}

table#transcriptB td:nth-child(2) {
	width:130px;
	text-align:left;
}

table#transcriptB td:nth-child(3) {
	width:140px;
	text-align:right;
}

table#transcriptB td + td + td {
	width:70px;
	text-align:right;
}
